body {
  background: url(/assets/bg.jpg);
  /* background-size: auto; */
}

#postIt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postMedia {
  /* width: 400px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 400px;
  max-width: 550px;
  max-height: 600px;
  width: auto;
  height: auto;
  align-content: center;
}

.redPost {
  background: white;
  width: 600px;
  height: 700px;
  margin: 10px;
}

.redTitle {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.postInfo {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

h2 {
  font-weight: normal;
}
